<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgV6KYtCP8MSypXxJPFzfZnAZX9fkwg6k</string>
	<key>GCM_SENDER_ID</key>
	<string>946563982062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hngaztifis.app.module</string>
	<key>PROJECT_ID</key>
	<string>hookara-fury</string>
	<key>STORAGE_BUCKET</key>
	<string>hookara-fury.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946563982062:ios:ddd5f8cd636cf2deec49ff</string>
</dict>
</plist>